<p>All Flats</p>
<div class="col-sm-8 my-3">
  <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type a keyword"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>
<ul>
  <% @flats.each do |flat| %>
    <li>
      <% if flat.photos.attached? %>
        <%= cl_image_tag flat.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= link_to flat.name, flat_path(flat) %>
    </li>
  <% end %>
</ul>
