<h1>Dashboard Page!</h1>
<h3 class='mt-5'>All my Flats</h3>
<ul>
<% @my_flats.each do |flat| %>
    <li>
      <% if flat.photos.attached? %>
        <%= cl_image_tag flat.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= link_to flat.name, flat_path(flat) %>
    </li>
<% end %>
</ul>



<h3 class='mt-5'>My Bookings</h3>
<% @my_bookings.each do |booking| %>
<div>
  <%= booking.flat.name %>
  <%= booking.start_date %>
  <%= booking.end_date %>
  <%= booking.status %>
</div>
<% end %>

<h3 class='mt-5'>Bookings requests</h3>
<div data-controller="booking-status">
  <% @bookings_made_to_me.each do |booking| %>
    <div class='<%= booking.status %>'>
      <%= booking.flat.name %>
      <%= booking.start_date %>
      <%= booking.end_date %>
      <div class="status"><%= booking.status %></div>
      <button class='btn-deny' data-action="booking-status#send" data-booking-status-action-param="deny" data-booking-status-path-param="<%= booking_deny_path(booking) %>">AJAX Deny</button>
      <button class='btn-approve' data-action="booking-status#send" data-booking-status-action-param="approve" data-booking-status-path-param="<%= booking_approve_path(booking) %>">AJAX Approve</button>
    </div>
  <% end %>
</div>
